---
---

<!DOCTYPE html>
<!--
* Copyright 2017 Agência para a Modernização Administrativa, IP.
* Licenciado nos termos da EUPL, versão 1.1
* A utilização desta obra está condicionada aos termos da
 Licença.
* É possível obter uma cópia da Licença em: http://ec.europa.eu/idabc/eupl.html
* Salvo requisito da legislação aplicável ou acordo
 expresso por escrito, o software distribuído nos termos
 da Licença é distribuído SEM GARANTIAS OU CONDIÇÕES DE QUALQUER ESPÉCIE,
 Expressas ou implícitas.
*/ -->
<html>
	<head>
		<title>AEColos - Agrupamento de Escolas de Colos</title>
		<meta content="text/html; charset=UTF-8" http-equiv="content-type">
		<meta content="initial-scale=1.0, width=device-width" name="viewport">
		<link href="./images/favicon.ico" rel="Shortcut Icon">
		<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
		<link href="{{site.baseurl}}/css/main.css" rel="stylesheet" type="text/css">
		<script lang="javascript" src="./js/xlsx.full.min.js"></script>
		<script src="https://unpkg.com/lunr/lunr.js"></script>
		<script src="./dist/bundle.js"></script>
		  <script src="https://unpkg.com/page/page.js"></script>
		  <script type="text/javascript" src="https://sdk.userbase.com/2/userbase.js"></script>
		  <script type="text/javascript" src="./js/jquery.min.js"></script>
		  <script type="text/javascript" src="https://rickharrison.github.io/validate.js/validate.min.js"></script>
		  <script src="https://accounts.google.com/gsi/client" async defer></script>
		  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jose/4.5.1/index.js" integrity="sha512-hK+T5uPXwFerOkYvaYbPe+4r+8d134ed4rbBLCUdlTI2arG+lEhNh6ghPj36s9hbjcnWZNGrQ6DzFjCVXp30AQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/jose/4.5.3/index.js" integrity="sha512-hK+T5uPXwFerOkYvaYbPe+4r+8d134ed4rbBLCUdlTI2arG+lEhNh6ghPj36s9hbjcnWZNGrQ6DzFjCVXp30AQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/jose/4.5.3/index.bundle.min.js" integrity="sha512-cV9+eI88OTSRKCxx6lRccIijLOn1pNFi1YdkcSpmQIm7S2J6oMH6JWMwgOpfxRlAYvtvuHj/Q7E0zUSpH4Pm1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/jose/4.5.3/index.umd.min.js" integrity="sha512-ueNcWOk/TXwwEJ4YPnNc5scGtU/viOjkeclOQigF10nrJErzuO/tb/X9k/boUjAHACGla3luJ/aIj23tWqYLLA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		  <script language="JavaScript" type="text/javascript"
			src="https://kjur.github.io/jsrsasign/jsrsasign-latest-all-min.js">
		</script>
	</head>
	<body class="homepage">
		<div class="container-fluid" id="wrapper">

			{{content}}
			
        </div>

        <script type="text/javascript" src="./js/jquery.bxslider.min.js"></script>
		<script type="text/javascript" src="./js/select2.full.min.js"></script>
		<script type="text/javascript" src="./js/main.js"></script>		
		<script src='https://www.google.com/recaptcha/api.js'></script>
	</body>
</html>