---
layout: main
section: news
---
			<div id="content">
				<div class="portlet-breadcrumb container-fluid">
					<ul class="breadcrumb breadcrumb-vertical">
						<li class="first">
							<a href="/">Home</a>
							<span>&gt;</span>
						</li>
						<li class="current-parent">
							<a href="./noticias">Notícias</a>
							<span>&gt;</span>
						</li>
						<li class="active last">
							<a href="./noticia2">{{page.title}}</a>
							<span>&gt;</span>
						</li>
					</ul>
				</div>
				<div id="detailsNoticianWrapper">
					<div class="maniFluid">
						<div class="date-wrapper">
							<i class="icon-calendar"></i><span>11 Novembro 2016</span>
						</div>
						<h4>{{page.title}}</h4>
						<img alt="Título da notícia Foto" src="./images/noticia_not_video.png">
						<div class="p2">{{content}}</div>
						<div class="sharedIcons">
							<ul>
								<li>
									<a href="" target="_blank">
										<div class="tooltip-wrapper">
											<i class="icone-twitter"></i>
											<div class="tool-tip tool-tip-top type1">Twitter</div>
										</div>
									</a>
								</li>
								<li>
									<a href="" target="_blank">
										<div class="tooltip-wrapper">
											<i class="icone-facebook"></i>
											<div class="tool-tip tool-tip-top type1">Facebook</div>
										</div>
									</a>
								</li>
								<li>
									<a href="" target="_blank">
										<div class="tooltip-wrapper">
											<i class="icone-linkedin"></i>
											<div class="tool-tip tool-tip-top type1">Linkedin</div>
										</div>
									</a>
								</li>
								<li>
									<a href="" target="_blank">
										<div class="tooltip-wrapper">
											<i class="icon-print"></i>
											<div class="tool-tip tool-tip-top type1">Imprimir</div>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		<script type="text/javascript" src="./js/jquery-3.1.1.min.js"></script> 
		<script type="text/javascript" src="./js/jquery.bxslider.min.js"></script>
		<script type="text/javascript" src="./js/select2.full.min.js"></script>
		<script type="text/javascript" src="./js/main.js"></script>